page-whole-pay-cost {
  /*.card-md h1 {
    color: $color_3;
  }
  .card-md h2 {
    color: $color_2;
  }
  .divBorderRadius_t{
    border-radius: 10px;
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }*/
}
