page-total-control-hospital-details {
  .divBorderRadius_x{
    border-radius: 1.2em;
    display: inline-table;
    color: #eeeeee;
    background: $color_3;
    padding: 0px 4px;
  }
  .divBorderRadius_t{
    display: inline-table;
    border-radius: 1.2em;
    background: $color_3;
    height: 100%;
    width: 70%;
    margin: 0 auto;
  }
}
