page-hospital-analysis-details {

  .divBorderRadius_t{
    border-radius: 10px;
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }
  .divBorderRadius_c{
    color: #eeeeee;
    border-radius: 10px;
    height: 100%;
    width: 56%;
    margin: 0 auto;
    padding: 2px 6px 2px 6px;
    background: $color_3;
    font-size: 1rem;
  }

}
