<ion-header>
  <ion-navbar>
    <ion-title>
      <h6>{{title}}</h6>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="favorite()">
        <ion-icon [name]="shoucang" class="headerIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid [ngStyle]="{'display':display}">
    <ion-row>
      <ion-col col-6>
        <ion-card class="bj_fff" style="width: 99%;" tappable (click)="toView('MedicalTotalCostHospPage')" text-center>
          <ion-card-header style="padding: 8px 0px">
            <h5>
              医疗总费用
              <span class="warningBiaozhu">{{hospitalAnalysisDetails.ylzfy_fd}}</span>
            </h5>
          </ion-card-header>
          <ion-card-content>
            <h1>{{hospitalAnalysisDetails.ylzfy}}<span class="spanFontSize">万</span></h1>
            <div text-center>
              <div class="color_4 fontSize14">
                去年同期：<span class="color_3">{{hospitalAnalysisDetails.ylzfy_qntq}}<span class="spanFontSize">万</span></span>
              </div>
              <div class="color_4 fontSize14">
                去年全年：<span class="color_3">{{hospitalAnalysisDetails.ylzfy_qnqn}}<span class="spanFontSize">万</span></span>
              </div>
            </div>
            <div class="border-top color_1 margin_top_5">
              查看详情
              <ion-icon style="font-size: 0.8em;" name="ios-arrow-dropright-outline" ></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="bj_fff" style="width: 99%;margin-left: 1%" tappable text-center (click)="toView('WholePayCostHospPage')" >
          <ion-card-header style="padding: 8px 0px">
            <h5>
              统筹支付费用
              <span class="warningBiaozhu">{{hospitalAnalysisDetails.tczffy_fd}}</span>
            </h5>
          </ion-card-header>
          <ion-card-content>
            <h1>{{hospitalAnalysisDetails.tczffy}}<span class="spanFontSize">万</span></h1>
            <div text-center>
              <div class="color_4 fontSize14">
                去年同期：<span class="color_3">{{hospitalAnalysisDetails.tczffy_qntq}}<span class="spanFontSize">万</span></span>
              </div>
              <div class="color_4 fontSize14">
                去年全年：<span class="color_3">{{hospitalAnalysisDetails.tczffy_qnqn}}<span class="spanFontSize">万</span></span>
              </div>
            </div>
            <div class="border-top color_1 margin_top_5">
              查看详情
              <ion-icon style="font-size: 0.8em;" name="ios-arrow-dropright-outline"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-card class="bj_fff" style="width: 100%;">
        <ion-card-content>
          <ion-row style="height: 25px;" class="margin_top_5">
            <ion-col col-5>
              <h2 class="padding_left_15">费用类别</h2>
            </ion-col>
            <ion-col col-2 text-right>
              <div class="divBorderRadius" [(ngStyle)]="colors[0]"></div>
              <span style="font-size: 0.5em;">药品</span>
            </ion-col>
            <ion-col col-2 text-right>
              <div class="divBorderRadius" [(ngStyle)]="colors[1]"></div>
              <span style="font-size: 0.5em;">项目</span>
            </ion-col>
            <ion-col col-2 text-right>
              <div class="divBorderRadius" [(ngStyle)]="colors[2]"></div>
              <span style="font-size: 0.5em;">材料</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <div  #pie1 style="height: 200px;width:100%;"></div>
          </ion-row>
          <ion-row class="margin_bottom_8" *ngFor="let h of costTypeVoList;let i = index">
            <ion-col col-4 text-center><div class="divBorderRadius_t" [(ngStyle)]="colors[i]">{{h.name}}</div></ion-col>
            <ion-col col-4><div>总费用<span class="color_3">{{h.value}}</span><span class="spanFontSize">万</span></div></ion-col>
            <ion-col col-4>同比增长<span class="color_3">{{h.tbzz}}</span></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card class="bj_fff" style="width: 100%;">
        <ion-card-content class=" padding_bottom_5">
             <ion-row style="height: 25px;" class="margin_top_5">
               <h2 class="padding_left_15">指标分析</h2>
             </ion-row>
             <ion-row class="fontSize_1rem">
               <ion-col col-5></ion-col>
               <ion-col col-2 text-center>本期值</ion-col>
               <ion-col col-2 text-center>上期值</ion-col>
               <ion-col col-2 text-center>同级均值</ion-col>
             </ion-row>
            <div *ngFor="let i of hospitalAnalysisDetailsIndex">
              <hr>
              <ion-row text-center class="margin_top_bottom_5">
                <ion-col col-5>
                  <span class="divBorderRadius_c">{{i.name}}</span>
                </ion-col>
                <ion-col col-2 class="color_3">{{i.bnz}}</ion-col>
                <ion-col col-2 class="color_3">{{i.snz}}</ion-col>
                <ion-col col-2 class="color_3">{{i.tjjz}}</ion-col>
              </ion-row>
            </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card class="bj_fff" style="width: 100%;">
        <ion-card-content>
          <ion-row style="height: 25px;" class="margin_top_5">
            <ion-col col-7>
              <h2 class="padding_left_15">年龄段</h2>
            </ion-col>
            <ion-col col-2 text-right>
              <div class="divBorderRadius" [(ngStyle)]="colors[0]"></div>
              <span style="font-size: 0.5em;">本年值</span>
            </ion-col>
            <ion-col col-2 text-right>
              <div class="divBorderRadius" [(ngStyle)]="colors[1]"></div>
              <span style="font-size: 0.5em;">上年值</span>
            </ion-col>
          </ion-row>
          <ion-row class="margin_top_10">
            <div #pie3 style="height: 200px;width:100%;"></div>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card class="bj_fff" style="width: 100%;">
        <ion-card-content>
          <ion-row style="height: 25px;" class="margin_top_bottom_5" >
              <h2 class="padding_left_15" >治疗疾病排名</h2>
          </ion-row>
          <ion-row text-center>
            <ion-col col-4>
              <h6>人次</h6>
            </ion-col>
            <ion-col col-4>
              <h6>均次费用</h6>
            </ion-col>
            <ion-col col-4>
              <h6>同级均值</h6>
            </ion-col>
          </ion-row>
          <div *ngFor="let d of hospitalAnalysisDetailsDisease">
            <hr>
            <ion-row class="margin_top_bottom_5">
              <ion-col col-1></ion-col>
              <ion-col col-11>
                <span class="divBorderRadius_c">{{d.name}}</span>
              </ion-col>
            </ion-row>
            <ion-row text-center>
              <ion-col col-4>
                <p>{{d.rc}}万</p>
              </ion-col>
              <ion-col col-4>
                <p>{{d.jcfy}}万</p>
              </ion-col>
              <ion-col col-4>
                <p>{{d.tjjz}}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card class="bj_fff" style="width: 100%;">
        <ion-card-content>
          <ion-row style="height: 25px;" class="margin_top_bottom_5" >
            <h2 class="padding_left_15">常用项目排名</h2>
          </ion-row>
          <ion-row text-center>
            <ion-col col-4>
              <h6>人次</h6>
            </ion-col>
            <ion-col col-4>
              <h6>均次费用</h6>
            </ion-col>
            <ion-col col-4>
              <h6>同级均值</h6>
            </ion-col>
          </ion-row>
          <div *ngFor="let p of hospitalAnalysisDetailsProject">
            <hr>
            <ion-row class=" margin_top_bottom_5">
              <ion-col col-1></ion-col>
              <ion-col col-11>
                <span class="divBorderRadius_c">{{p.name}}</span>
              </ion-col>
            </ion-row>
            <ion-row text-center>
              <ion-col col-4>
                <p>{{p.rc}}万</p>
              </ion-col>
              <ion-col col-4>
                <p>{{p.jcfy}}万</p>
              </ion-col>
              <ion-col col-4>
                <p>{{p.tjjz}}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card class="bj_fff" style="width: 100%;">
        <ion-card-content>
          <ion-row style="height: 25px;" class="margin_top_bottom_5" >
            <h2 class="padding_left_15">常用药品排名</h2>
          </ion-row>
          <ion-row text-center>
            <ion-col col-4>
              <h6>人次</h6>
            </ion-col>
            <ion-col col-4>
              <h6>均次费用</h6>
            </ion-col>
            <ion-col col-4>
              <h6>同级均值</h6>
            </ion-col>
          </ion-row>
          <div *ngFor="let d of hospitalAnalysisDetailsDrug">
            <hr>
            <ion-row class=" margin_top_bottom_5">
              <ion-col col-1></ion-col>
              <ion-col col-6>
                <span class="divBorderRadius_c">{{d.name}}</span>
              </ion-col>
            </ion-row>
            <ion-row text-center>
              <ion-col col-4>
                <p>{{d.rc}}万</p>
              </ion-col>
              <ion-col col-4>
                <p>{{d.jcfy}}万</p>
              </ion-col>
              <ion-col col-4>
                <p>{{d.tjjz}}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
