page-fund-simulation-details {
  /*.c3 path, .c3 line {
    fill: none;
    stroke: #000;
  }*/

  /*-------------*/

  /*.card-md h1 {
    color: $color_3;
  }
  .card-md p {
    color: $color_3;
  }
  .card-md h2 {
    color: $color_2;
  }
  .divBorderRadius_v{
    border-radius: 1.2em;
    display: inline-table;
    color: #eeeeee;
    background: $color_3;
    padding: 0px 7px;
  }
  .divBorderRadius_y{
    border-radius: 1em;
    display: inline;
    color: #eeeeee;
    background: #00AAEF;
    padding: 0px 4px;
  }*/
}
